<html>
<head>
  <title>Backbone.js 2</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
</head>
<body>

<div id="bookmark">
</div>

<script type="text/template" id="item-template">
  <li class="title"><%- timestamp %>: <span><%- comment %></span> by <%- user %></li>
  <a class="delete">delete</a>
</script>

<script type="text/javascript" src="./app.js"></script>

</body>
</html>